<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>SuperListas | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/site_media/css/style.css" type="text/css" />
    
    <script type="text/javascript" src="/site_media/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/site_media/js/superlistas.js"></script>

    {% block external %}{% endblock %}
    
</head>
<body>
    <h1>{% block head %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html> 
    
        