{% load dajaxice_templatetags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>SuperListas | Lista</title>
  <meta name="description" content="">
  <meta name="author" content=""><!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!-- *****Le scripts*****-->

  <script src="{{ STATIC_URL }}js/jquery-1.7.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-twipsy.js" type="text/javascript"></script>
{% dajaxice_js_import %}
  <script src="{{ STATIC_URL }}js/superlistas.js" type="text/javascript"></script>
  
  <!-- *****Le styles***** -->
   
    <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/bootstrap.min.css">
 
  <!--<link rel="stylesheet/less" href="{{ STATIC_URL }}css/less/bootstrap.less" type="text/css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/less-1.1.5.min.js"></script>-->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"><!-- Le fav and touch icons -->

</head>

<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#">SuperListas</a>

        <ul class="nav">
          <li><a href="#">Perfil</a></li>

          <li class="active"><a href="#about">Listas</a></li>

          <li><a href="#contact">Acerca de</a></li>
        </ul>

        <form action="" class="pull-right">
          <input class="input-small" type="text" placeholder="Usuario"> <input class="input-small" type="password" placeholder="Contraseña"> <button class="btn" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>Bienvenido, {{ lista.usuario.username }}</h1>
      </div>

      <div class="row">
        <div class="span10">
          <h2 id="{{ lista.id }}" class="lista">{{ lista.nombre }}</h2><br>

          <table class="condensed-table" id="tablaProductos">
            <thead>
              <tr>
                <th class="red header">#</th>

                <th class="header headerSortUp">Producto</th>
                <th class="green header">Precio</th>
                <th class="green header">Total</th>
              </tr>
            </thead>
            
            <tbody>
              {% for familia in familias %}
                  <tr class="familia" familia="{{ familia.nombre }}" {% if familia.descripcion not in seleccionados_familias %}style="display:none"{% endif %} >
                    <td colspan="4">{{ familia.descripcion }}</td>
                  </tr>
                  {% for seleccionado in seleccionados %}
                  {% ifequal seleccionado.producto.fam.descripcion familia.descripcion %}
                  <tr class="prod" id="{{ seleccionado.producto.upc }}" en="{{ familia.nombre }}">
                    <td class="cant">
                      <div class="num">
                        {{ seleccionado.cantidad }}
                      </div>
                    </td>
                    <td class="descripcion">{{ seleccionado.get_nombre_chido }}</td>
                    <td class="precio">{{ seleccionado.get_precio_dinero }}</td>
                    <td class="subtotal" unitario="{{ seleccionado.producto.precio }}">{{ seleccionado.get_total_dinero }}</td>
                  </tr>
                  {% endifequal %}
                  {% endfor %}
              {% endfor %}
              
            <tr class="fila_total">
                <td class="cant"><div class="num"></div></td>
                <td >TOTAL</td>
                <td></td>
                <td class="total">$∞</td>
              </tr>
              </tbody>
          </table>
        <button class="btn" type="submit">Comprar</button>

        </div>

          <h3>Listas</h3>

          <div class="clearfix">
            <div class="input">
              <select name="stackedSelect" id="stackedSelect">
                <option>
                  Cotidiana
                </option>

                <option>
                  Fiesta
                </option>

                <option>
                  Cuernavaca
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
        <p>&copy; SuperListas 2011</p>
    </footer>
  </div><!-- /container -->
</body>
</html>
